#unico{
    color: green;
}
p{
    font-family: sans-serif;
}
h1{
    font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(61, 55, 55);
background-color: rgb(153, 153, 153);
margin-bottom: 50px;
margin-right: 900px;
margin-left: 100px;
}
#mamu{
    color: blue;
}
#sexo {
    color: magenta;
}
body{
    background-color: rgb(165, 164, 164);
}
.hiju{
    color: rgba(199, 21, 21, 0.534);
}
.mewing{
font-size: 150px;
}
img{
    font-size: 100px;
}
.nav-enlace{
    background-color: rgba(75, 75, 75, 0.281);
    color: #000000;
    padding: 10px 30px;
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
}
button{
    background: orangered;
    color: black;
}
button:hover{
    background: rgb(70, 70, 163);
    color: white;
}
button:active{
    background-color: wheat;
    color: black
}
nav{
    display:flex;
    justify-content: space-around;
}
.papuclass{
    background-color: salmon;
    color: white;
    padding: 9px 0px;
    border: 5px solid rgb(165, 164, 164);
    display: none;
    }
@media (max-width: 600px){
nav{
    background: rgb(165, 164, 164);
    flex-direction: column
}
.nav-enlace{
    margin: 9px 0;
}
.papuclass{
    display: inline-block;
}
.desaparece{
    display: none;
}
}