#unico{
    color: green;
}
p{
    font-family: sans-serif;
}
h1{
    font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(61, 55, 55);
background-color: rgb(153, 153, 153);
margin-bottom: 100px;
margin-right: 250px;
margin-left: 145px;
}
#mamu{
    color: blue;
}
#sexo {
    color: magenta;
}
body{
    background-color: rgb(165, 164, 164);
}
.hiju{
    color: rgba(199, 21, 21, 0.534);
}
.mewing{
font-size: 150px;
}
img{
    font-size: 100px;
}
.nav-enlace{
    background-color: rgba(75, 75, 75, 0.281);
    color: #000000;
    padding: 10px 30px;
    font-family:'Times New Roman', Times, serif;
}